body{
    background-color: rgb(169, 199, 248);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: top;
    margin: 0;
    padding: 20px;
}

.card{
    width: 29vw;
    border: 1px solid rgb(3, 3, 3);
    margin: 0.1em 0.1em 0 0;
    display: inline-block;
    vertical-align: top;
    min-height: 28vh;
    font-size: 2vh
    background-image: url('');
}

a{
    text-decoration: none;
    display: inline-block;
    margin: 1em;
    color: white;
    background-color:rgb(116, 131, 161);
    padding: 1em;
    border-radius: 1em;;
}
a:hover{
    text-decoration: underline;
    color: gold;
}

select{
    margin: 1em;
    padding: 1em;
    border-radius: 3em;
}
/* option{
    padding: 1em;
    margin: 1em;
} */
.img-1 {

    width: 500px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
video{
    text-align: center;
}