@font-face {
    font-family: 'BebasNeue-Regular.ttf';
    src: url(./Fonts/Bebas_Neue/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Anton-Regular.ttf';
    src: url(./Fonts/Anton/Anton-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'JosefinSans-VariableFont_wght.ttf';
    src: url(./Fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf) format('truetype')
    font-weight: normal;
}

body{
    background-color: rgb(213, 178, 133);
    color: rgb(0, 0, 0);
    font-family: 'Anton-Regular.ttf', 'JosefinSans-VariableFont_wght.ttf', 'BebasNeue-Regular.ttf';
    text-align: center;
    vertical-align: top;
    margin: 0;
    padding: 0px;
}

.card{
    width: 29vw;
    border: 1px solid rgb(3, 3, 3);
    margin: 0.1em 0.1em 0 0;
    display: inline-block;
    vertical-align: top;
    min-height: 28vh;
    font-size: 2vh+
}

a{
    text-decoration: none;
    display: inline-block;
    margin: 1em;
    color: rgb(255, 255, 255);
    background-color:rgb(173, 154, 123);
    padding: 1em;
    border-radius: 1em;;
}
a:hover{
    text-decoration: underline;
    color: gold;
}

select{
    margin: 1em;
    padding: 1em;
    border-radius: 3em;
}
/* option{
    padding: 1em;
    margin: 1em;
} */
.img-1 {

    width: 500px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
video{
    text-align: center;
    width: 110vh;
    border-radius: 1em;
    
}
#results img {
    border-radius: 1em;
}

h1 {
    font-size: 5em;
    font-family: 'Anton-Regular.ttf';
}

h2 {
    font-size: 2.6em;
    font-family: 'Anton-Regular.ttf';
}

.Shadow {
    box-shadow: 0 6px 12px;
}